.wrapper
  .form-group
    .form-row
      %h1.padding-wrap
        Register New Team Member
    .form-row
      %label.col-md-10
        Name
      .col-md-5
        %input.form-control{type: 'text', placeholder:'First Name'}
      .col-md-5
        %input.form-control{type: 'text', placeholder:'Last Name'}
